:root {
  --black: #1e1e1e;
  --backgroud: #333;
  --primary: #49a078;
  --text: #e2d6d1;
  --gray: #747474;
  --shadow: #3c3c3c;
  --blue: #3a719e;
  --low: #b54343;
  --medium: #a3b543;
  --done: #cfff3c;
  --sm: 12px;
  --md: 25px;
  --lg: 32px;
}

body {
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  background-color: var(--backgroud);
  margin: 0;
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.container {
  height: 160px;
  width: 200px;
  text-align: center;
  background: #333333;
  /* box-shadow: 0px 0px 20px var(--primary); */
  box-shadow: -10px -10px 20px var(--shadow), 10px 10px 20px var(--black),
    inset -4px -4px 8px rgba(77, 77, 77, 0.25), inset 4px 4px 8px var(--black);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container p {
  margin: 0;
  color: var(--text);
  font-weight: lighter;
}

.container p:nth-child(1) {
  font-weight: bold;
}

.container p:nth-child(2) {
  color: var(--primary);
  font-size: var(--lg);
}

.container p:last-child {
  color: var(--gray);
}

.container_auth {
  height: 250px;
  margin-bottom: 25px;
}

.container_auth p {
  margin-top: 20px;
}

div.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

div.auth div {
  display: flex;
  flex-direction: column;
}

div.auth div label {
  color: var(--primary);
  font-size: var(--sm);
}

div.auth div input {
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 20px;
  font-family: "Righteous";
  text-align: center;
}

div.auth button {
  width: 120px;
  border: none;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  background-color: var(--primary);
  font-family: "Righteous", cursive;
  font-size: var(--sm);
}
